<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dictionaryFile" value="EnglishWords.txt"/>
		<add key="targetFile" value="Roar.txt"/>
		<add key="missedWordsFile" value="MissedWordFile.txt"/>
	</appSettings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>